<section class="py-5 bg-dark ">
<div class="container ">
  <div class="row justify-content-center parent">
    <div class="col-md-8 col-12 bg-OffWhite rounded-5 p-5">
        <h4 class="text-center">Get In Touch :)</h4>
        <div class="py-5">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control w-75" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <textarea  class="form-control w-75"></textarea>
            </div>

            <button type="submit" class="btn btn-dark">Send</button>
          </form>
        </div>
    </div>

    <div class="col-md-3 bg-offdark p-5 rounded-3 text-white my-4 customCard ">
      <h4 class="text-center">
        Contact Us
      </h4>

    <div class="py-4">
      <p class="Second-Fonts d-flex align-items-center mb-5">
        <span class="material-symbols-outlined">
          location_on
          </span>
          Alexandria , Egypt
      </p>
      <p class="Second-Fonts d-flex align-items-center mb-5">
        <span class="material-symbols-outlined">
          location_on
          </span>
          Assiute , Egypt
      </p>
      <p class="Second-Fonts d-flex align-items-center mb-5">
        <span class="material-symbols-outlined">
          location_on
          </span>
          Cairo , Egypt
      </p>

      <p class="Second-Fonts d-flex align-items-center mb-5">
        <span class="material-symbols-outlined">
          call
          </span>
          0123456789
      </p>

      <p class="Second-Fonts d-flex align-items-center mb-5">
        <span class="material-symbols-outlined">
          mail
          </span>
          manarnabil911.com
      </p>

      <div class="d-flex">

      </div>

    </div>




    </div>





  </div>
</div>
</section>
