<section id="Main" class="bg-dark ms-5 ps-5 vh-100">


  <section class="content">
    <div>
      <router-outlet></router-outlet>
    </div>

  </section>

  <section id="SideBar" class="bg-dark">
    <div class="header p-5">
      <h5>Owner Name</h5>
    </div>

    <div class=" ps-4">
      <ul class="list-group bg-dark">
        <li class="list-group-item border-0 border-start border-bottom mb-5 bg-dark Item"><a routerLink="/Admin/Home" class="text-decoration-none">Home</a></li>
        <li class="list-group-item border-0 border-start border-bottom mb-5 bg-dark Item"><a routerLink="/Admin/Products" class="text-decoration-none">My Product</a></li>
        <li class="list-group-item border-0 border-start border-bottom mb-5 bg-dark Item"><a  class="text-decoration-none">Profile</a></li>

      </ul>
    </div>


  </section>






















</section>
